<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiu.log.server.mapper.OperationLogMapper">

    <resultMap id="BaseResultMap" type="com.qiu.log.client.model.OperationLog">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="userName" column="user_name" />
            <result property="operationType" column="operation_type" />
            <result property="operationContent" column="operation_content" />
            <result property="operationIp" column="operation_ip" />
            <result property="deviceInfo" column="device_info" />
            <result property="operationDuration" column="operation_duration" />
            <result property="requestMethod" column="request_method" />
            <result property="requestPath" column="request_path" />
            <result property="operationStatus" column="operation_status" />
            <result property="errorInfo" column="error_info" />
            <result property="createTime" column="create_time" />
            <result property="modifiedTime" column="modified_time" />
            <result property="opCreateId" column="op_create_id" />
            <result property="opCreateName" column="op_create_name" />
            <result property="opModifiedId" column="op_modified_id" />
            <result property="opModifiedName" column="op_modified_name" />
            <result property="isDel" column="is_del" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_name,operation_type,operation_content,operation_ip,
        device_info,operation_duration,request_method,request_path,
        operation_status,error_info,create_time,modified_time,
        op_create_id,op_create_name,op_modified_id,op_modified_name,is_del
    </sql>
</mapper>
